
@using EntityLayer.Concrete;
@model List<Category>
@{
    ViewBag.Title = "GetCategoryList";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet"/>

<h2>Category List</h2>
<table class="table table-hover">
    <tr>
        <td>Category ID</td>
        <td>Category Name</td>
        <td>Category Description</td>
        <td>Category Status</td>        
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryDescription</td>
                    <td>@item.CategoryStatus</td>
                </tr>
            }
</table>