@{ 
    ViewBag.Title = "AddWriter"; 
    }
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Writer Ekleme Sayfası</h2>
<form class="form-group " method="post">
    <input type="text" placeholder="Writer Name" name="WriterName" />
    <input type="text" placeholder="Writer Surname" name="WriterSurname" />
    <input type="text" placeholder="Mail" name="WriterMail" />
    <input type="text" placeholder="Password" name="Password" />
    <button class="btn btn-info">Add</button>

</form>

