
@{ 
    ViewBag.Title = "AddContact";
    }
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Contact Ekleme Sayfası</h2>
<form class="form-group " method="post">

    <input type="text" placeholder="User Name" name="UserName" class="form-group" />
    <input type="email" placeholder="User Mail" name="UserMail" class="form-group" /><br />
    <input type="text" placeholder="Subject" name="Subject" class="form-group" /><br />
    <textarea type="" placeholder="Message" name="Message" class="form-group"></textarea><br />
    <button class="btn btn-info">Ekle</button>
</form>

