
@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ürünler</h2>
<br />
<div class="col-12">
    buraya arama textbox ı gelecek
</div>

<div class="col-12">
    <div class="card">
        <div class="card-header">
            <a href="/Product/Create" class="btn btn-info" style="margin-left:5px;>
                Yeni ürün ekle
            </a>
        </div>
    </div>
</div>
